<ion-view title="Solobuy">
  <ion-content header-shrink scroll-event-interval="5">
    <div ng-model="item">
      <div class="item item-text-wrap">
        <div class="item item-body"> 
            <h1 style="color:#3CB0BD">{{item.name}}</h1>
    <!--<img class= "full-image" src={{item.image_urls}}>-->
            <ion-slide-box>
                <ion-slide>
                    <img class= "full-image" src={{item.image_urls}}>
                </ion-slide>
                <ion-slide>
                    <img class= "full-image" src={{item.image_urls}}>
                </ion-slide>
            </ion-slide-box>
            <h1>${{item.price}}</h1>
            <h3>Located in {{item.real_loc}}</h3>
            <p>{{item.description}}</p>
            <button class="button icon-left ion-navigate button-block button-stable">Directions</button>
            <button class="button icon-left ion-ios7-telephone button-block button-balanced">Call Seller</button>
          </div>
        </div>
      </div>      
    </ion-content>
</ion-view>