<script>
	function translateToLoc(coordinates) {
		var geocoder = new google.maps.Geocoder();
		var latLong = new google.maps.LatLng(coordinates[0], coordinates[1]);
		geocoder.geocode({'latLng': latLong }, function(results, status) {
			if(status == google.maps.GeocoderStatus.OK) {
				console.dir(results);
				return results[1].formatted_address;
			}
		});
	}
</script>
<ion-view title="Solobuy">
  <ion-content header-shrink scroll-event-interval="5">
    <div>
		<div
		ng-repeat="item in items"
		ng-item-width="'100%'"
		ng-item-height="'10%'"
		class="list">
			
			<a class="item item-thumbnail-left" href=#/tab/item/{{item.obj._id}}>
				<img src={{item.obj.image_urls[0].full}} />
				<h2>{{item.obj.name}}</h2>
				<p>{{item.obj.real_loc}}</p>
				<p>${{item.obj.price}}</p>
			</a>
			
		</div>
	</div>
  </ion-content>
</ion-view>
