<ion-view title="Search">
  <ion-content>
    <div class="list card">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search">
              </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Category
          </div>
            <select>
              <option>Antiques</option>
              <option selected>Collectibles</option>
              <option>Jewlery</option>
            </select>
          </label>
          <div class="item range range-positive">
            10 Miles
            <input type="range" name="radius" min="10" max="500" value="250">
            500 Miles
          </div>
          <div class="item item-body">
            <p>
              <i><b>Includes: </b>San Mateo, San Leandro, Oakland, Berekely, Palo Alto, Richmond, Mountain View, San Rafael, Novato, and Napa.</i>
            </p>
            <button class="button button-full button-calm">
              <i class="icon ion-checkmark"></i>
              Sounds Good
            </button>
            </div><br/>
        </div>
    </div>
  </ion-content>
</ion-view>
