<ion-view title="Search">
  <ion-content>
    <div class="list">
      <div class="list">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search">
              </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Category
          </div>
            <select ng-model="category">
              <option value="SANT">Antiques</option>
              <option selected value="SCOL">Collectibles</option>
              <option value="SJWL">Jewlery</option>
            </select>
          </label>
          <div class="item range range-positive">
            <input type="range" name="radius" id="radius" min="10" max="500" value="100"
              ng-model="geo.distance"
              ng-value=100
              on-drag="dragSlider()">
          {{geo.distance}} Miles
          </div><p>
          <div class="item item-body">
            <p>
              <i><b>Includes: </b><a ng-repeat="town in geo.nearbyTowns">{{town}}{{$last ? '' : ', '}}</a></i>
            </p>
            <button class="button button-full button-calm" ng-click="search(category)">
              <i class="icon ion-checkmark"></i>
              Sounds Good
            </button>
            </div><br/>
        </div>
    </div>
  </ion-content>
</ion-view>
