<ion-view title="Solobuy">
  <ion-content header-shrink scroll-event-interval="5">
    <div class="list card">

      <div class="item item-avatar">
        <img src="../www/img/thumb.jpg">
          <h2>2013 Victory Highball</h2>
          <p>$10,000</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="../www/img/full.jpg">
          <p> 2013 Victory Highball motorcycle. Has less than 4000 miles. Well kept with upgrades that include: victory saddle bags quick release, low handlebars 2014 headlight, professional pinstriping, and buddy seat
          </p>
        <button class="button button-full button-calm">
          <i class="icon ion-android-call"></i>
            CALL SELLER
        </button>
      </div>

    </div>
  </ion-content>
</ion-view>
